@font-face {
  font-family: Baloo;
  src: url("assets/Baloo-Regular.ttf");
}

html,
body {
  font-family: Baloo, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  overflow-x: hidden;
}

main {
  background-color: white;
  margin: 0;
  padding: 0;
  height: calc(100vh - 60px);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

header {
  background: rgb(252, 252, 252);
  background-image: url("assets/sparkle.png");
  background-repeat: repeat;
  background-size: 128px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer {
  height: 60px;
  background-color: rgba(195, 177, 225, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  font-size: 18px;
  text-decoration: solid;
  color: rgba(170, 110, 255, 1);
}

button a {
  color: rgba(0, 0, 0, 0.7);
}

a:active,
a:link,
a:visited,
a:hover {
  background-color: none;
  /* text-decoration: none; */
}

nav {
  background-color: rgba(252, 252, 252);
  padding: 0 10px;
  max-width: fit-content;
  block-size: auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.screen {
  min-height: calc(100vh - 60px);
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome_area {
  padding: 40px;
  display: flex;
  justify-content: center;
  position: relative;
}

#welcome_area h1 {
  font-size: 40px;
}

nav,
#presentation_area,
.projectButton,
#backToTop {
  border: none;
  border-radius: 15px;
}

#presentation_area {
  margin: 5%;
  padding: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectButton {
  padding: 5px 10px;
  margin: 5px;
  align-items: center;
  font-size: 20px;
  min-width: max-content;
}

#backToTopContainer {
  top: 50px;
  width: 95%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

#backToTop a {
  font-size: xx-large;
  font-family: Baloo, sans-serif;
  font-weight: 600;
}

.hidden {
  display: none;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project h1 {
  font-size: 30px;
  margin: 50px 0 0 0;
}

.project h2 {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

#pong {
  min-width: 70%;
  max-width: 400px;
  min-height: 70vh;
  margin: auto;
}
