@font-face {
  font-family: Baloo;
  src: url("assets/Baloo-Regular.ttf");
}

.baloo {
  font-family: Baloo, sans-serif;
}

.mgAuto {
  margin: auto;
}

.mgTop50 {
  margin: 50px 0 0 0;
}

.h100vh {
  height: 100vh;
}

.noMP {
  margin: 0;
  padding: 0;
}

.noBg {
  background: none;
  border: 0;
}

.blackFont {
  color: rgba(0, 0, 0, 0.7);
}

.whiteBg {
  background-color: rgb(252, 252, 252);
}

.pinkBg {
  background-color: rgb(253, 224, 246);
}

.blueBg {
  background-color: rgb(168, 239, 239);
}

.lilac {
  color: rgba(170, 110, 255, 1);
}

.roundBorder {
  border: none;
  border-radius: 15px;
}

.flex {
  display: flex;
}

.flexCol {
  flex-direction: column;
}

.flexStart {
  justify-content: flex-start;
}

.alignCenter {
  align-items: center;
}

.fontXL {
  font-size: 40px;
}

.fontLg {
  font-size: 30px;
}

.fontMd {
  font-size: 20px;
}

.fontSm {
  font-size: 16px;
}

.textCenter {
  text-align: center;
}

.justCenter {
  justify-content: center;
}

.rectDemo {
  min-width: 500px;
  width: 1000px;
  min-height: 250px;
  height: 500px;
}

.sqDemo {
  min-width: 250px;
  min-height: 250px;
  height: 500px;
  width: 500px;
}

body {
  overflow-x: hidden;
}

main {
  height: calc(100vh - 60px);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

header {
  background-image: url("assets/balls.png");
  background-repeat: repeat;
  background-size: 40px;
}

footer {
  height: 60px;
  padding: 10px 0;
}

a {
  text-decoration: solid;
}

a:visited {
  text-decoration: none;
  color: rgba(170, 110, 255, 1);
}

nav {
  padding: 0 10px;
  max-width: fit-content;
  block-size: auto;
  display: inline-flex;
  flex-wrap: wrap;
}

.screen {
  min-height: calc(100vh - 60px);
  scroll-snap-align: start;
}

#welcome_area {
  padding: 40px;
  position: relative;
}

#presentation_area {
  margin: 50px;
  padding: 100px;
}

.projectButton {
  padding: 5px 10px;
  margin: 5px;
}

#backToTopContainer {
  width: 95%;
  position: absolute;
  justify-content: flex-end;
}

#backToTop a {
  font-weight: 500;
}

.hidden {
  display: none;
}

.project h2 {
  font-weight: normal;
}

.demo {
  margin-top: 20px;
}

#googleCloneDemo {
  border: none;
}
