@font-face {
  font-family: Courier;
  src: url("fonts/courier-prime-sans/Courier/Prime/Sans.ttf");
}

.courier {
  font-family: Courier, sans-serif;
}

/* Margin and Padding */
.h100vh {
  height: 100vh;
}

.noM {
  margin: 0;
}

.noP {
  padding: 0;
}

.mgAuto {
  margin: auto;
}

.mgTop30 {
  margin-top: 30px;
  margin-bottom: 0;
}

.pd15 {
  padding-top: 15px;
  padding-bottom: 0;
}

.pdTB10 {
  padding: 10px 0;
}

.pd5 {
  padding-top: 5px;
  padding-bottom: 0;
}

/* Background and colors */
.noBg {
  background: none;
  border: 0;
}

.blackFont {
  color: rgba(0, 0, 0, 0.7);
}

.whiteBg {
  background-color: rgb(252, 252, 252);
}

.pinkBg {
  background-color: rgb(253, 224, 246);
}

.blueBg {
  background-color: rgb(224, 248, 248);
}

.lilac {
  color: rgba(170, 110, 255, 1);
}

/* Border */
.roundBorder {
  border: none;
  border-radius: 15px;
}

/* Flex and positioning */
.flex {
  display: flex;
}

.flexCol {
  flex-direction: column;
}

.flexStart {
  justify-content: flex-start;
}

.flexEnd {
  align-content: flex-end;
}

.alignCenter {
  align-items: center;
}

.textCenter {
  text-align: center;
}

.justCenter {
  justify-content: center;
}

.posAbsol {
  position: absolute;
}

/* Font sizes */
.fontXL {
  font-size: 40px;
}

.fontLg {
  font-size: 26px;
}

.fontMd {
  font-size: 20px;
}

.fontSm {
  font-size: 16px;
}

.scrollHeight {
  height: calc(100vh - 50px);
}

/* Change arrangements for horizontal screen */
@media screen and (min-width: 641px) {
  /* demos */
  .rectDemo {
    width: 80vw;
    height: 70vh;
  }

  .sqDemo {
    min-height: 450px;
    min-width: 450px;
  }

  header {
    background-size: 40px;
  }

  #navLinks {
    grid-template-columns: 120px 120px 120px;
    padding: 10px;
    gap: 10px;
  }

  #welcome_area {
    max-height: 30vh;
    max-width: 600px;
    margin-top: 50px;
  }

  #presentation_area {
    min-width: 30vw;
    margin: 50px;
    padding: 40px 20px;
  }

  .cats {
    height: 150px;
    background-size: 150px;
  }

  .longCatMiddle {
    background-size: 150px;
  }

  #longCatTop {
    min-width: 150px;
  }

  .longCatBottom {
    background-size: 150px;
  }

  footer {
    height: 50px;
  }

  .projectButton {
    padding: 5px 10px;
    margin: 5px;
    height: 50px;
  }
}

/* Change arrangements on mobile */
@media screen and (max-width: 640px) {
  .rectDemo {
    width: 70vw;
    height: 78vh;
  }

  .sqDemo {
    min-width: 300px;
    min-height: 300px;
  }

  #navLinks {
    grid-template-columns: 50% 50%;
    padding: 2px;
    gap: 2px;
    align-content: center;
  }

  nav a {
    font-size: 14px;
  }

  header {
    background-size: 20px;
  }

  #welcome_area {
    min-width: 30vw;
    margin: 10px 0px;
  }
  #presentation_area {
    min-height: 20vh;
    padding: 30px 30px;
    margin: 0 10px;
  }

  .fontXL {
    font-size: 22px;
  }

  .fontLg {
    font-size: 20px;
  }

  .fontMd {
    font-size: 18px;
  }

  .fontSm {
    font-size: 14px;
  }

  .cats {
    width: 100vw;
    background-size: 75px;
  }

  .longCatMiddle {
    background-size: 75px;
  }

  #longCatTop {
    min-width: 75px;
  }

  .longCatBottom {
    background-size: 75px;
  }
  footer {
    height: 30px;
  }

  .projectButton {
    padding: 2px 10px;
    margin: 2px;
    height: 30px;
  }
}

body {
  overflow-x: hidden;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

header {
  background-image: url("assets/dots.png");
  background-repeat: repeat;
  background-attachment: fixed;
  min-height: 100%;
  justify-content: space-between;
}

a {
  text-decoration: solid;
  font-weight: 600;
}

a:visited {
  text-decoration: none;
  color: rgba(170, 110, 255, 1);
}

nav {
  padding: 0 10px;
  margin: 0 10px;
  display: inline-flex;
  flex-wrap: wrap;
}

.screen {
  min-height: calc(100vh - 50px);
  scroll-snap-align: start;
}

#welcome_area {
  position: relative;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
  justify-content: center;
}

#navLinks {
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
}

.projectButton {
  text-align: center;
}

#backToTopContainer {
  width: 95%;
  justify-content: flex-end;
}

#backToTop a {
  font-weight: 500;
}

.hidden {
  display: none;
}

.screen {
  padding: 0 10px;
}

.project h2 {
  font-weight: normal;
}

.demo {
  margin-top: 15px;
  border: 15px solid rgba(255, 255, 255, 0.6);
}

.cats {
  width: 100vw;
  min-height: 75px;
}

.longCatMiddle {
  background-image: url("assets/longcat2.png");
  background-repeat: repeat-y;
  flex-direction: column;
}

#longCatTop {
  background-image: url("assets/longcat1.png");
  background-repeat: no-repeat;
  flex-direction: column-reverse;
}

.longCatBottom {
  background-image: url("assets/longcat3.png");
  background-repeat: no-repeat;
  flex-direction: column;
}
