@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

:root {
  --font: "Indie Flower", Rubik, sans-serif;
  --black: #534c45;
  --offWhite: #fcfdec;
  --light-gray: #dbd8be;
  --gray: #9c9982;
  --light-green: rgb(242, 255, 243);
  --transparent: rgba(255, 255, 255, 0);
  --grid: #d0e3e8;
  --button: rgb(252, 187, 213);
  --light-purple: rgb(243, 210, 251);
  --color-front: #3e3d33;
  --regular-padding: 2%;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

html {
  color: var(--black);
  background-color: var(--offWhite);
  background-image: linear-gradient(var(--grid) 0.1em, transparent 0.1em),
    linear-gradient(90deg, var(--grid) 0.1em, transparent 0.1em);
  background-size: 1em 1em;
  justify-content: center;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.wrapper,
footer {
  max-width: 600px;
  margin: auto;
  width: 100vw;
  padding: none;
  margin: none;
}

body {
  padding-top: 10px;
  font-family: var(--font);
  text-align: center;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  align-items: center;
}

h2 {
  padding-bottom: 0.5rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

button {
  font-family: var(--font);
}

h1,
.cardInfo h2,
a {
  font-family: "Patrick Hand", cursive;
  text-transform: uppercase;
}

.cardInfo h3 {
  font-family: "Patrick Hand", cursive;
}

.btn {
  font-family: "Patrick Hand", cursive;
}

.hidden {
  display: none;
}

.image {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
}

.pink_btn {
  position: relative;
  font-size: 22px;
  padding: 20px;
  margin: 20px 0;
  min-width: 45%;
  letter-spacing: 4px;
  border: 1px solid var(--black);
  background: var(--button);
  border-radius: 5px;
  box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0, 5px 5px 0;
}

.pink_btn:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.5s;
  color: var(--black);
}

.pink_btn:active {
  top: 5px;
  left: 5px;
  box-shadow: 0 0 0 0;
}

.pink_btn a {
  color: var(--black);
  text-decoration: none;
}
