@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

:root {
  --black: #32302e;
  --offWhite: #fcfdec;
  --light-gray: #dbd8be;
  --gray: #b7b49d;
  --light-green: rgb(242, 255, 243);
  --transparent: rgba(255, 255, 255, 0);
  --grid: #d0e3e8;
  --button: rgb(252, 187, 213);
  --light-purple: rgb(243, 210, 251);
  --font: "Indie Flower", Rubik, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

html {
  width: 100vw;
  overflow-x: hidden;
  color: var(--black);
  background-color: var(--offWhite);
  background-image: linear-gradient(var(--grid) 0.1em, transparent 0.1em),
    linear-gradient(90deg, var(--grid) 0.1em, transparent 0.1em);
  background-size: 1em 1em;
  justify-content: center;
}

body {
  font-family: var(--font);
  text-align: center;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 60px 0;
}

button {
  font-family: var(--font);
}

h1 {
  font-family: "Patrick Hand", cursive;
  padding-top: 1rem;
  padding-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

h2 {
  padding-bottom: 0.5rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  text-align: left;
  padding: 20px 40px;
}

li {
  padding: 5px 0;
}

#title {
  text-transform: capitalize;
  /* letter-spacing: 20px; */
  font-family: "Patrick Hand", cursive;
  font-weight: 500;
  font-size: 8rem;
  min-width: fit-content;
  letter-spacing: 0.02em;
  background-image: url("assets/iridescent.png");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: repeat;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 3px rgb(99, 99, 99);
}

#presentation {
  /* border: 1px solid var(--black); */
  background-color: #f9ebd6;
  position: relative;
  width: 90%;
  margin: 0 auto;
  top: 30px;
  padding: 20px;
  overflow-wrap: break-word;
  display: block;
}

.paper-clip {
  position: absolute;
  offset-position: inherit;
  height: 4rem;
  left: -1.5rem;
  top: -1rem;
  transform: rotate(5deg);
}

/* #presentation:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-size: 20px;
  top: 0;
  left: 0;
  background: url("assets/paper-clip.svg") no-repeat left;
} */

#projects {
  background-color: var(--light-green);
}

#card_section {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 100%);
  justify-content: center;
}

#card_section h1 {
  font-size: 28px;
}

#card_section h2,
#card_section a {
  font-size: 22px;
}

.card {
  height: 30vh;
  outline: 1px solid var(--black);
  position: relative;
}

.cardText {
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
}

.cardText a {
  text-decoration: underline;
  padding: 0 5px;
}

.cardText a:visited {
  color: var(--black);
}

.pinkBtn {
  position: relative;
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
  padding: 20px;
  margin: 20px 0;
  min-width: 45%;
  letter-spacing: 4px;
  border: 1px solid var(--black);
  background: var(--button);
  border-radius: 5px;
  box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0, 5px 5px 0;
}

.pinkBtn:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.5s;
  color: var(--black);
}

.pinkBtn:active {
  top: 5px;
  left: 5px;
  box-shadow: 0 0 0 0;
}

#about {
  background: #fff;
  width: 100%;
  position: relative;
  margin: 30px 0;
  margin-bottom: 60px;
}

#about:after {
  position: absolute;
  content: "";
  top: 100%;
  height: 20px;
  width: 100%;
  left: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg)
    bottom;
  background-size: 200%;
}

#about:before {
  position: absolute;
  content: "";
  bottom: 100%;
  height: 20px;
  width: 100%;
  left: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg)
    bottom;
  background-size: 200%;
  rotate: 180deg;
}

#girl {
  max-width: 90%;
}

#girl_sticker {
  position: relative;
  margin: auto;
  padding: 10px;
  max-width: 80%;
  background-color: var(--light-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: -1deg;
  box-shadow: 1px 1px 1px var(--gray);
}

#girl_sticker:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}

.tape {
  position: absolute;
  width: 100%;
}

.tape:first-of-type {
  top: 0;
}

.tape:last-of-type {
  bottom: 0;
}

.tape::before,
.tape::after {
  position: absolute;
  content: "";
  width: 10vmin;
  height: 4vmin;
  background-color: var(--light-gray);
  opacity: 0.5;
  border-right: 1px dotted var(--gray);
  border-left: 1px dotted var(--gray);
}

.tape:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -3vmin;
}

.tape:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
}

.tape:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 0;
}

.tape:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 0;
}

.stamp {
  width: 85%;
  margin: auto;
  border-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/stamp-border.png)
    8 round;
  border-width: 8px;
  border-style: solid;
  margin-bottom: 5rem;
}

footer {
  background-color: var(--black);
  color: #fbfbfb;
}

#pages {
  overflow-x: hidden;
}

footer h1 {
  padding: 5px;
}

img.footer_icon {
  height: 40px;
}

#projects img {
  width: 60%;
}
