@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@900&display=swap");

:root {
  /* fonts */
  --font: sans-serif;
  --title-font: Arvo;
  --section-font: Tourney;

  /* colors */
  --black: #000;
  --white: #fffffc;
  --accent_one: #ff2f00;
  --accent_two: #1fa95b;
  --accent_three: #fdc62e;
  --accent_four: #a39df7;
  --accent_five: #e339fc;
  --accent_six: #b1ebd3;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  overflow-x: hidden;
}

.wrapper,
footer {
  max-width: 600px;
  margin: auto;
  width: 100vw;
}

h2 {
  padding-bottom: 0.5rem;
}

.link,
a {
  cursor: pointer;
  text-decoration: none;
}

.btn,
h1,
.cardInfo h2,
.link,
a {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.border {
  border: 2px solid var(--black);
}

.offWhiteBg {
  background-color: var(--white);
}

.btn {
  box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0, 5px 5px 0;
  letter-spacing: 5px;
  position: relative;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  color: var(--black);
  font-weight: bold;
  font-family: var(--font);
  font-size: 18px;
}

.btn a,
.btn:after,
.btn {
  color: var(--black);
}

.btn:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.5s;
}

.btn:active {
  top: 5px;
  left: 5px;
  box-shadow: 0 0 0 0;
}

.btn a {
  text-decoration: none;
}

.nav {
  box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0, 5px 5px 0;
  letter-spacing: 5px;
  padding: 5px;
  background-color: var(--accent_six);
  overscroll-behavior: none;
  height: auto;
  font-family: var(--font);
  font-weight: bold;
  font-size: 16px;
  margin: 10px auto;
  text-align: center;
  color: var(--black);
  font-family: var(--font);
}
