---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <img src="/assets/sent.svg" alt="email sent" class="shadow" />
    <h1>E-mail sent!</h1>
    <p>Thank you for contacting me.</p>
    <p>I will return your e-mail asap.</p>
    <button class="btn">
      <a class="link" href="/">Back to website</a>
    </button>
  </main>
</BaseLayout>

<style>
  html,
  body {
    width: 100vw;
    height: 100vh;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    overscroll-behavior-x: contain;
  }
  img {
    width: 40%;
    margin-bottom: 10%;
  }

  button {
    font-family: var(--font);
    background-color: var(--light-purple);
  }
</style>
