---
// import "https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js";
import BaseLayout from "../layouts/BaseLayout.astro";
import BackToTopBtn from "../components/BackToTopBtn.astro";
import ContactIcon from "../components/ContactIcon.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Page from "../components/Page.astro";
import Button from "../components/Button.astro";
---

<BaseLayout>
  <div id="backToTopContainer">
    <BackToTopBtn />
  </div>

  <main>
    <header>
      <div id="title">Natália Chies</div>
      <div id="presentation">
        <img src="assets/paper-clip.svg" alt="paper clip" class="paper-clip" />
        <p>
          Junior web developer with a passion for creating beautiful and
          functional websites, always striviving to create intuitive and
          user-friendly experiences.
        </p>
        <Button url="" text="Contact Me" />
        <img src="assets/curvy-line.svg" alt="" />
      </div>
    </header>
    <div id="pages">
      <Page id="about" title="About Me">
        <div id="girl_sticker" class="paper">
          <div class="tape"></div>
          <img src="assets/girl.svg" alt="" id="girl" />
          <div class="tape"></div>
        </div>
        <ul>
          <li>
            Originally a graduated nurse with a passion for technology and
            computer science
          </li>
          <li>
            Currently a self-learner in web development, with 3 months of
            experience
          </li>
          <li>
            Native of Porto Alegre, Rio Grande do Sul, Brazil, with a desire to
            learn and grow as a developer.
          </li>
        </ul>
        <Button url="" text="Resume" />
      </Page>
      <!-- <div id="horizontal-tape"></div> -->
      <Page title="Projects" id="projects">
        <img src="assets/computer.svg" alt="computer" />
        <div id="card_section">
          <ProjectCard projectName="gameOfLife" />
          <ProjectCard projectName="pongGame" />
          <ProjectCard projectName="googleClone" />
          <ProjectCard projectName="rlStats" />
        </div>
      </Page>
      <Page title="Skills" id="skills">
        <p>HTML</p>
        <p>CSS</p>
        <p>JavaScript</p>
      </Page>
    </div>
    <footer>
      <ContactIcon
        name="gitHub"
        link="github.com/ntlchs"
        img="assets/github-mark/github-light.svg"
      />
      <ContactIcon
        name="linkedin"
        link="github.com/ntlchs"
        img="assets/linkedin-mark/linkedin-light.svg"
      />
      <ContactIcon
        name="email"
        link="github.com/ntlchs"
        img="assets/email-mark/at-light.svg"
      />
      <div id="contact_input">
        <h1>Contact Me</h1>
        <input type="text" id="name" />
        <input type="text" id="email" />
        <input type="text" id="message" />
      </div>
      <p>Copyright Natália Chies 2022</p>
    </footer>
  </main>
</BaseLayout>
