:root {
  --black: #202124;
  --light-gray: #f2f2f2;
  --gray: #dadce0;
  --dark-gray: #70757a;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: arial, sans-serif;
}

body {
  font-size: 13px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

header {
  font-size: 13px;
  height: 8%;
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 15px;
  color: var(--black);
  padding-right: 20px;
  padding-top: 10px;
}

header a {
  text-decoration: none;
  color: var(--black);
}

header a:visited {
  color: var(--black);
}

header a:hover {
  text-decoration: underline;
}

#avatar {
  border-radius: 50%;
}

svg#menu-icon {
  height: 24px;
  width: 24px;
  padding: 8px;
  color: #5f6368;
  fill: currentColor;
}

main {
  color: #4d5156;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 92%;
}

main > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: auto 272 / 92;
}

#search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--gray);
  border-radius: 22px;
  width: 80%;
  max-width: 584px;
}

svg#search-icon {
  height: 20px;
  width: 20px;
  color: #9aa0a6;
  margin: 9px 13px;
}

#search {
  background-color: transparent;
  border: none;
  outline: none;
  width: 90%;
  height: 100%;
}

#search:active {
  border: none;
  outline: none;
}

main #search:active {
  border: none;
}

#search-by-voice,
#search-by-image {
  height: 24px;
  width: 24px;
  margin: 0 8px;
}

.btn {
  font-size: 14px;
  color: var(--black);
  height: 34px;
  width: 150.5px;
  background-color: var(--light-gray);
  border: none;
  margin: 11px 4px;
  padding: 0 16px;
}

main > p > a {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--light-gray);
  font-size: 16px;
  display: flex;
  height: fit-content;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: var(--dark-gray);
}

footer hr {
  width: 100%;
  border: 1px solid var(--gray);
}

#country {
  padding: 10px;
  padding-top: 15px;
  font-size: 15px;
  width: 100%;
  text-align: left;
}

#country > a,
#row > a {
  color: var(--dark-gray);
  text-decoration: none;
  padding: 15px;
}

#row {
  display: flexbox;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  padding: 1em;
}

#country > a:hover,
#row > a:hover {
  text-decoration: underline;
}

#main_area {
  width: 100vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  min-height: 80%;
}

#google-logo {
  width: 30em;
  max-width: 300px;
}
