---
---

<form
  id="contact_form"
  class="flex flex-col items-center justify-center w-auto mx-8 p-4 border border-black bg-n-lightgreen"
  class="folded border"
  action="https://api.web3forms.com/submit"
  method="POST"
  onsubmit="document.getElementById('submit').disabled=true;"
>
  <p id="contact_title" class="uppercase font-bold text-xl py-4">Contact me</p>
  <input
    type="hidden"
    name="access_key"
    value="b51ada5e-fbde-44c6-9349-44a02eba5240"
  />

  <input
    class="w-11/12 text-base my-4 border border-black bg-n-white to-n-pink"
    type="text"
    placeholder="Name"
    name="name"
    required
  />
  <input
    class="w-11/12 text-base my-4 border border-black bg-n-white to-n-pink"
    type="email"
    placeholder="Email"
    name="email"
    required
  />
  <textarea
    class="w-11/12 text-base my-4 border border-black bg-n-white to-n-pink"
    placeholder="Message"
    name="message"
    required></textarea>
  <input
    type="hidden"
    name="redirect"
    value="https://ntlchs.github.io/email-sent"
  />
  <button type="submit" id="submit" class="btn border">Send Email</button>
</form>
<p id="toast" class="hidden">Sending email...</p>

<script>
  const btn = document.querySelector("#submit") as HTMLButtonElement | null;
  const toast = document.querySelector("#toast");
  const form = document.querySelector("form");

  btn.addEventListener("click", () => {
    const isValid = form.checkValidity();
    if (isValid) {
      toast.classList.remove("hidden");
      // disableBtn();
      console.log("toast");
    }
  });

  function disableBtn() {
    btn.disabled = true;
  }

  function enableBtn() {
    btn.disabled = false;
  }
</script>

<style>
  #contact_title {
    letter-spacing: 4px;
  }

  #contact_form {
    background-color: var(--accent_four);
  }

  #submit {
    background-color: var(--accent_three);
  }

  input,
  textarea {
    font-family: var(--font);
  }
</style>
