---
---

<form
  id="contact_form"
  class="folded border"
  action="https://api.web3forms.com/submit"
  method="POST"
  onsubmit="document.getElementById('submit').disabled=true;"
>
  <p>Contact me</p>
  <input
    type="hidden"
    name="access_key"
    value="b51ada5e-fbde-44c6-9349-44a02eba5240"
  />

  <input class="border" type="text" placeholder="Name" name="name" required />
  <input
    class="border"
    type="email"
    placeholder="Email"
    name="email"
    required
  />
  <textarea class="border" placeholder="Message" name="message" required
  ></textarea>
  <input
    type="hidden"
    name="redirect"
    value="https://ntlchs.github.io/email-sent"
  />
  <button type="submit" id="submit" class="btn mintBg">Send Email</button>
</form>
<p id="toast" class="hidden">Sending email...</p>

<script>
  const btn = document.querySelector("#submit") as HTMLButtonElement | null;
  const toast = document.querySelector("#toast");
  const form = document.querySelector("form");

  btn.addEventListener("click", () => {
    const isValid = form.checkValidity();
    if (isValid) {
      toast.classList.remove("hidden");
      // disableBtn();
      console.log("toast");
    }
  });

  function disableBtn() {
    btn.disabled = true;
  }

  function enableBtn() {
    btn.disabled = false;
  }
</script>

<style>
  #contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--peach);
    padding: 4%;
  }

  #contact_form input,
  #contact_form textarea {
    width: 90%;
    font-size: 14px;
    padding: 0.4%;
    margin: 2% auto;
    letter-spacing: 0.1em;
  }

  #contact_form h1 {
    padding: 0;
  }

  .folded {
    position: relative;
    display: inline-block;
    border-radius: 6px;
    clip-path: polygon(6vw 0px, 100% 0px, 100% 100%, 0% 100%, 0% 6vw);
    box-shadow: 1px 1px 0 var(--transparent_black);
    background: var(--color-front);
    transition: clip-path 500ms;
  }

  .folded:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6vw;
    height: 6vw;
    background: var(--color-back);
    box-shadow: 1px 1px 0 var(--transparent-black);
    border-radius: 0 0 6px 0;
    transition: transform 500ms;
  }

  @media screen and (min-width: 500px) {
    .folded {
      clip-path: polygon(4vw 0px, 100% 0px, 100% 100%, 0% 100%, 0% 4vw);
    }

    .folded:after {
      width: 4vw;
      height: 4vw;
    }
  }

  .folded:hover {
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
  }

  .folded:hover:after {
    transform: translate(-100%, -100%);
  }

  form {
    width: 90%;
    margin: auto;
  }

  input,
  textarea {
    max-width: 80%;
    font-family: var(--font);
    color: var(--black);
  }
</style>
