---
import Button from "../components/Button.astro";
import Section from "./Section.astro";

const sentences = {
  a: "Curious-minded, always passionated about science and technology",
  b: "Currently self-learning web development, now enrolling in college to earn a Computer Science BS degree",
  c: "Living in Porto Alegre, Brazil",
};
---

<Section id="about" title="About Me">
  <img src="assets/girl.svg" alt="girl" id="girl" class="shadow" />
  <ul>
    <li>{sentences.a}</li>
    <li>{sentences.b}</li>
    <li>{sentences.c}</li>
  </ul>

  <Button url="cv.pdf" text="Resume" id="cv" />
</Section>

<style>
  #girl {
    max-width: 90%;
  }

  ul {
    text-align: left;
    padding: 20px 40px;
    list-style: none;
  }

  li {
    padding: 5px 0;
    padding-left: 1em;
    text-indent: -1em;
  }

  li:before {
    content: "✖";
    padding-right: 5px;
  }
</style>
