---
---

<h1>About Me</h1>
<div>
  <ul>
    <li>
      Originally a graduated nurse with a passion for technology and computer
      science
    </li>
    <li>
      Currently a self-learner in web development, with 3 months of experience
    </li>
    <li>
      Native of Porto Alegre, Rio Grande do Sul, Brazil, with a desire to learn
      and grow as a developer.
    </li>
  </ul>
</div>

<a href="">Resume</a>
