---
import Button from "../components/Button.astro";
import Section from "./Section.astro";

const sentences = {
  a: "Originally a curious-minded nurse, passionated about technology",
  b: "Currently self-learning web development and plan to enroll in college to earn a computer science degree",
  c: "Living in Porto Alegre, Brazil, wish to learn and grow as a developer",
};
---

<Section id="about" title="About Me">
  <div id="girl" class="paper">
    <div class="tape"></div>
    <img src="assets/girl.svg" alt="" id="girl_img" class="image" />
    <div class="tape"></div>
  </div>
  <ul>
    <li>{sentences.a}</li>
    <li>{sentences.b}</li>
    <li>{sentences.c}</li>
  </ul>

  <Button
    url="https://drive.google.com/file/d/1gCA3uOjaSY3A10OXNVz9BXl6knWCB_3X/view?usp=sharing"
    text="Resume"
    class="btn"
    target="_blank"
  />
</Section>

<style>
  #girl_img {
    max-width: 90%;
  }

  #girl {
    position: relative;
    margin: auto;
    padding: 10px;
    width: 60%;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px var(--gray);
  }

  #girl_card:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
  }

  .tape {
    position: absolute;
    width: 100%;
  }

  .tape:first-of-type {
    top: 0;
  }

  .tape:last-of-type {
    bottom: 0;
  }

  .tape::before,
  .tape::after {
    position: absolute;
    content: "";
    width: 10vmin;
    height: 4vmin;
    background-color: var(--light-gray);
    opacity: 0.5;
    border-right: 1px dotted var(--gray);
    border-left: 1px dotted var(--gray);
  }

  .tape:last-of-type::after {
    transform: rotate(-45deg);
    right: -4vmin;
    top: -3vmin;
  }

  .tape:first-of-type::before {
    transform: rotate(-45deg);
    left: -4vmin;
  }

  .tape:first-of-type::after {
    transform: rotate(45deg);
    right: -4vmin;
    top: 0;
  }

  .tape:last-of-type::before {
    transform: rotate(45deg);
    left: -4vmin;
    bottom: 0;
  }

  ul {
    text-align: left;
    padding: 20px 40px;
  }

  li {
    padding: 5px 0;
  }
</style>
