---
const items = {
  a: "Originally a curious-minded nurse, passionated about technology",
  b: "Currently self-learning web development and plan to enroll in college to earn a computer science degree",
  c: "Living in Porto Alegre, Brazil, wish to learn and grow as a developer",
};
---

<ul>
  <li>{items.a}</li>
  <li>{items.b}</li>
  <li>{items.c}</li>
</ul>
