<div class="alert absolute self-center box-border p-4">
  <span class="flex" onclick="this.parentElement.style.display='none';"
    >&times;</span
  >
  <slot />
</div>

<style>
  .alert {
    top: 20%;
    max-width: 600px;
  }
</style>
