---
// const scrollArea = document.getElementById("scroll_area");
// const elementOffset = document.getElementById("firstScreen").offsetHeight;

// scrollArea.onscroll = () => {
//   if (scrollArea.scrollTop >= elementOffset - 1) {
//     backToTop.classList.remove("class", "hidden");
//   } else {
//     backToTop.classList.add("class", "hidden");
//   }
// };
---

<button id="backToTop">
  <a href="#welcome_area"> &#5169;</a>
</button>
