---
import Button from "./Button.astro";
const { id, text } = Astro.props;
---

<div id="copy_area">
  <p id={id} class="copiable" id={text}>
    {text}
  </p>
  <Button id="copy_btn" text="Copy" />
  <p id="copy_toast" class="hidden border mintBg">Email copied to clipboard!</p>
</div>
<script>
  import "./copyToClipboard.js";
</script>

<style>
  #copy_toast {
    width: 50%;
    position: absolute;
    bottom: 50%;
    left: 25%;
    padding: 1rem;
    box-shadow: 4px 4px var(--black);
    border-radius: 3px;
    z-index: 1;
  }

  #copy_area {
    display: grid;
    max-width: 400px;
    grid-template-columns: 75% 25%;
    align-items: center;
  }

  #copy_area {
    margin: var(--space) auto;
  }

  .copiable {
    font-size: 18px;
  }
</style>
