---
const { id, text, tooltipText } = Astro.props;
---

<p id={id} class="copiable" id={text}>
  {text}
  <!-- <span class="tooltipText">{tooltipText}</span> -->
</p>
<button id="copy_btn">Copy</button>
<script>
  import "./copyToClipboard.js";
</script>

<style>
  .copiable .tooltipText {
    position: relative;
    display: inline-block;
  }

  .copiable .tooltipText {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .copiable .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .copiable:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
</style>
