---
import Button from "./Button.astro";
const { id, text } = Astro.props;
---

<div id="copy_area" class="inline-block items-center my-4 mx-auto w-3/4">
  <p id={id} class="copiable font-bold" id={text}>
    {text}
  </p>
  <Button id="copy_btn" text="Copy" listOfClasses={["text-sm"]} />
  <p
    id="copy_toast"
    class="hidden border accentBg w-auto m-auto text-lg p-4 bg-white absolute"
  >
    copied to clipboard
  </p>
</div>
<script>
  import "./copyToClipboard.js";
</script>

<style>
  #copy_toast {
    box-shadow: 4px 4px var(--black);
  }

  /* center toast */

  p#copy_toast {
    letter-spacing: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  /* end */
</style>
