---
const { id, text, tooltipText } = Astro.props;
---

<p id={id} class="copiable" id={text}>
  {text}
</p>
<button id="copy_btn" class="btn">{tooltipText}</button>
<script>
  import "./copyToClipboard.js";
</script>

<style>
  #copy_btn {
    background: var(--light-purple);
    padding: 0.5em 0.5em;
    text-transform: uppercase;
  }
</style>
