---
import BaseLayout from "../layouts/BaseLayout.astro";
const { title, id } = Astro.props;
---

<BaseLayout>
  <div id="demo-body">
    <h1>{title}</h1>
    <div id={id} class="demo"></div>
    <slot />
  </div>
</BaseLayout>

<style>
  h1 {
    background-color: var(--white);
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 32px;
  }
  #demo-body {
    width: auto;
    max-width: 600px;
    height: 90%;
    overflow-x: hidden;
  }

  .demo {
    margin: 0 auto;
    min-height: 400px;
    height: 90vh;
    max-height: 600px;
    width: 95vw;
    max-width: 95%;
    display: block;
    overscroll-behavior-x: contain;
  }
</style>
