---
import BaseLayout from "../layouts/BaseLayout.astro";
import TitleWithLineAround from "./TitleWithLineAround.astro";
const { title, id } = Astro.props;
---

<BaseLayout>
  <div
    id="demo-body"
    class="w-auto max-w-screen-xl h-5/6 overflow-x-hidden bg-white"
  >
    <TitleWithLineAround title={title} />
    <div
      id={id}
      class="demo m-auto h-5/6 max-h-11 w-10/12 max-w-fit overscroll-x-contain block"
    >
    </div>
    <slot />
  </div>
</BaseLayout>

<style>
  .demo {
    min-height: 90vh;
    min-width: 90vw;
  }
</style>
