---
import BaseLayout from "../layouts/BaseLayout.astro";
const { title, id } = Astro.props;
---

<BaseLayout>
  <header><h1>{title}</h1></header>
  <body>
    <main>
      <div id={id} class="demo"></div>
    </main>
    <slot />
  </body>
  <footer></footer>
</BaseLayout>

<style>
  main {
    width: 100%;
    max-width: 600px;
    height: 90%;
    overflow-x: hidden;
    position: fixed;
  }

  .demo {
    margin: 0 auto;
    min-height: 400px;
    height: 90%;
    max-height: 900px;
    width: 95%;
    display: block;
    overscroll-behavior-x: contain;
  }
</style>
