---
import ContactBoard from "./Contact/Board.astro";
import ContactForm from "./Contact/Form.astro";
---

<footer>
  <img
    id="red_tape"
    src="assets/tape-red.svg"
    alt="red tape with white hearts"
  />
  <ContactBoard />
  <ContactForm />
  <p>Copyright Natália Chies 2022</p>
</footer>

<style>
  :root {
    --tape-width: 200px;
  }

  footer {
    background-color: var(--black);
    width: 100vw;
    color: #fbfbfb;
    padding: 2vh 0;
    position: relative;
  }

  footer h1 {
    padding: 5px;
    font-size: 1.8rem;
  }

  footer p {
    font-size: 1rem;
    font-family: "Patrick Hand", sans-serif;
    padding-top: 2vh;
    letter-spacing: 0.2rem;
  }

  #red_tape {
    max-width: var(--tape-width);
    position: absolute;
    left: calc(50% - var(--tape-width) / 2);
    top: -30px;
  }
</style>
