---
import ContactBoard from "./Contact/Board.astro";
import ContactForm from "./Contact/Form.astro";
---

<footer class="border offWhiteBg">
  <ContactBoard />
  <ContactForm />
  <p>Copyright Natália Chies 2022</p>
</footer>

<style>
  footer {
    width: 100%;
    color: var(--black);
    padding: 2vh 0;
    position: relative;
    border-radius: 2px;
  }

  footer h1 {
    padding: 5px;
    font-size: 1.8rem;
  }

  footer p {
    font-size: 1rem;
    padding-top: 2vh;
    letter-spacing: 0.2rem;
  }
</style>
