---
import ContactBoard from "./Contact/Board.astro";
import ContactForm from "./Contact/Form.astro";
---

<footer>
  <!-- <img
    src="assets/tape-red.svg"
    id="red_tape"
    class="image"
    alt="red tape with white hearts"
  /> -->
  <ContactBoard />
  <ContactForm />
  <p>Copyright Natália Chies 2022</p>
</footer>

<style>
  :root {
    --tape-width: 200px;
  }

  footer {
    background-color: var(--transparent_gray);
    width: 100vw;
    color: var(--black);
    padding: 2vh 0;
    position: relative;
  }

  footer h1 {
    padding: 5px;
    font-size: 1.8rem;
  }

  footer p {
    font-size: 1rem;
    padding-top: 2vh;
    letter-spacing: 0.2rem;
  }
</style>
