---
import ContactIcon from "../components/ContactIcon.astro";
---

<footer>
  Copyright Natália Chies 2022
  <a href="https://github.com/ntlchs" target="_blank"> GitHub</a>
  <ContactIcon name="GitHub" link="github.com/ntlchs" src="" />
</footer>
