---
import ContactBoard from "./Contact/Board.astro";
import ContactForm from "./Contact/Form.astro";
---

<footer class="border offWhiteBg">
  <div id="contact_area">
    <ContactBoard />
    <ContactForm />
  </div>
  <p>Copyright Natália Chies 2022</p>
</footer>

<style>
  footer {
    width: 95%;
    color: var(--black);
    margin: var(--space) auto;
    padding: 2vh 0;
    position: relative;
    box-sizing: border-box;
  }

  footer h1 {
    padding: 5px;
    font-size: 1.8rem;
  }

  footer p {
    font-size: 1rem;
    padding-top: 2vh;
    letter-spacing: 0.2rem;
  }
</style>
