---
import ContactBoard from "./Contact/Board.astro";
import ContactForm from "./Contact/Form.astro";
---

<footer>
  <ContactBoard />
  <ContactForm />
  <p>Copyright Natália Chies 2022</p>
</footer>

<style>
  :root {
    --tape-width: 200px;
  }

  footer {
    background-color: var(--transparent-gray);
    width: 100%;
    color: var(--black);
    padding: 2vh 0;
    position: relative;
  }

  footer h1 {
    padding: 5px;
    font-size: 1.8rem;
  }

  footer p {
    font-size: 1rem;
    padding-top: 2vh;
    letter-spacing: 0.2rem;
  }
</style>
