---
import ContactBoard from "./Contact/Board";
import ContactForm from "./Contact/Form.astro";
---

<footer class="border-2 border-black w-full bg-n-white mt-0 mx-auto mb-4 relative box-border max-w-[600px]">
  <div id="contact_area">
    <ContactBoard/>
    <ContactForm />
    
  </div>
  <p class="p-4">Copyright Natália Chies 2022</p>
</footer>