---
import Button from "./Button.astro";
import CopiableText from "./CopyAndTooltip.astro";
import Nav from "./Nav";
import TitleAndSubtitle from "./TitleAndSubtitle.astro";

---

<header
  id="header"
  class="h-screen overflow-y-hidden w-full box-border flex flex-col justify-center items-center m-auto border-2 border-black bg-n-white border-n-black"
>
  <div id="header_text" class="text-center px-1 py-0">
    <p class="text-base">Welcome to the portfolio of</p>
  </div>
  <TitleAndSubtitle title="Natalia Chies" substitle="Front End Developer" />
  <h3 class="my-0 mx-20 w-9/12 border-t border-t-black border-solid"></h3>
  <CopiableText
  id="copy_email"
  text="nataliachies@gmail.com"
  tooltipText="Copy"
  />
  
  <Nav client:load/>
</header>

<style>
  .title {
    font-family: var(--title-font);
  }
</style>
