---
import Button from "./Button.astro";
import CopiableText from "./CopyAndTooltip.astro";
---

<header id="header">
  <div id="header_card">
    <div id="title">
      <h1 class="title">Natalia Chies</h1>
      <h2>Front End Developer</h2>
    </div>
    <CopiableText
      id="copy_email"
      text="nataliachies@gmail.com"
      tooltipText="Copy"
    />
    <div id="header_text">
      <h3>Welcome to my portfolio!</h3>
    </div>
    <div id="nav">
      <Button url="#projects" text="✖ My Projects ✖" id="project-section" />
      <Button url="#about" text="✖ About Me ✖" id="about-section" />
      <Button url="#contact_form" text="✖ Contact ✖" id="contact" />
    </div>
  </div>
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 3px solid var(--black);
    background-color: var(--white);
    box-sizing: border-box;
    width: 95%;
    height: 97vh;
    overflow-y: hidden;
  }

  #header_text {
    text-align: center;
    padding: 0 0.5em;
    line-height: 30px;
  }

  #nav {
    display: flex;
    flex-direction: column;
  }

  #title {
    margin: 0.5em 0;
  }

  p {
    font-size: 18px;
  }

  .title {
    font-display: swap;
    text-transform: capitalize;
    font-size: 5rem;
    color: var(--black);
    font-family: var(--title-font);
    position: relative;
    top: 30%;
    text-shadow: 1px 1px 1px var(--black);
  }
</style>
