---
---

<header id="firstScreen">
  <div id="welcomeArea">
    <div id="presentationArea">
      <h1>Natália Chies</h1>
      <p>
        Junior web developer with a passion for creating beautiful and
        functional websites, always striviving to create intuitive and
        user-friendly experiences.
      </p>
      <a href="">Contact Me</a>
    </div>
  </div>
</header>
