---
import Button from "./Button.astro";
import CopiableText from "./CopyAndTooltip.astro";
---

<header id="header">
  <div id="header_card" class="border offWhiteBg">
    <div id="title">
      <h1 class="title">Natalia</h1>
      <h1 class="title">Chies</h1>
    </div>
    <p>Welcome to my portfolio!</p>
    <p>
      As a junior web developer, I am excited to show you my skills in creating
      functional and visually appealing experiences.
    </p>
    <CopiableText
      id="copy_email"
      text="nataliachies@gmail.com"
      tooltipText="Copy"
    />
    <Button url="#contact_form" text="Contact Me" id="contact" />
  </div>
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 0 60px 0;
  }

  #header_card {
    position: relative;
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    display: block;
  }

  #paper_clip {
    position: absolute;
    offset-position: inherit;
    height: 4rem;
    left: -1.3rem;
    top: -1rem;
    transform: rotate(1deg);
  }

  #avatar {
    width: 40%;
    /* background-color: var(--light-gray); */
    border-radius: 4%;
    /* box-shadow: 1px 1px var(--gray); */
  }

  .title {
    text-transform: capitalize;
    /* font-family: var(--title-font); */
  }
  #title {
    margin: 2em 0;
  }
  p {
    font-size: 18px;
  }

  .title {
    font-size: 4rem;
    color: var(--light-mint);
    /* -webkit-text-stroke: 1px var(--black); */
    font-family: var(--title-font);
    position: relative;
    top: 30%;
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: 5;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    text-shadow: 1px 1px 1px var(--black);
  }

  :root {
    --light-mint: #d9fae0;
    --medium-mint: #c7f0dc;
    --dark-mint: #afe3ce;
    --dark-peach: #fdaa9d;
    --medium-peach: #ffd4c2;
    --light-peach: #ffe5d1;
    --lighter-peach: #faefe6;
  }

  @keyframes color {
    0% {
      color: var(--light-mint);
    }
    20% {
      color: var(--medium-mint);
    }

    40% {
      color: var(--dark-mint);
    }
    60% {
      color: var(--dark-peach);
    }
    80% {
      color: var(--medium-peach);
    }
    100% {
      color: var(--light-peach);
    }
  }
</style>
