---
const { name, link, img } = Astro.props;
---

<a id={name} href={link} target="_blank">
  <img src={img} alt={name} class="footer_icon" />
</a>

<style>
  img.footer_icon {
    margin: 0 0;
    width: 2em;
  }
</style>
