---
const { name, link, img } = Astro.props;
---

<a id={name} href={link} target="_blank">
  <img src={img} alt={name} class="footer_icon shadow" />
</a>

<style>
  img.footer_icon {
    margin: 0 0;
    width: 45px;
    height: 45px;
  }

  #email {
  }
</style>
