---
import Projects from "./Projects.astro";
import About from "./About.astro";
import Skills from "./Skills.astro";
---

<main id="pages">
  <div id="window">
    <div id="bar" class=""></div>
    <div id="close" class="offWhiteBg">✖</div>
  </div>
  <div class="wrapper_text border">
    <div class="typing_card">console.log('Hello World!');</div>
  </div>
  <Projects />
  <About />
  <Skills />
</main>

<style>
  main {
    align-items: center;
    background-color: var(--white);
  }

  .bar {
    /* background-color: var(--accent_three); */
  }

  #window {
    width: 95%;
    padding: 0;
    margin: var(--space) auto 0 auto;
    display: grid;
    grid-template-columns: 95% 5%;
    height: 1rem;
    background-color: var(--black);
    border-top: 2px solid var(--black);
    border-left: 2px solid var(--black);
    border-right: 2px solid var(--black);
  }

  #close {
    justify-items: center;
    border-left: 2px solid var(--black);
    background-color: var(--accent_two);
    font-size: 11px;
  }
  #pages h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
  }

  .wrapper_text {
    height: 40%;
    width: 95%;
    margin: 0 auto var(--space) auto;
    background-color: var(--white);
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    padding: 1rem 0;
  }

  .typing_card {
    width: 20rem;
    animation: typing 4s steps(28) infinite,
      blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.12rem solid;
    font-family: monospace;
    font-size: 18px;
    letter-spacing: 0.74px;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
</style>
