---
import Projects from "./Projects.astro";
import About from "./About.astro";
import Skills from "./Skills.astro";
---

<main id="pages" class="items-center">
  <div
    id="window"
    class="w-full p-0 mx-auto mt-4 grid grid-cols-10 h-6 border-2 border-black border-solid bg-n-black"
  >
    <div id="bar" class="col-span-9"></div>
    <div id="close" class="justify-center text-sm w-full col-span-1 text-n-red">✖</div>
  </div>
  <div class="wrapper_text border-2 border-black w-full mb-4 bg-n-white">
    <div class="typing_card my-2">console.log("Hello World")</div>
  </div>
  <Projects />
  <About />
  <Skills />
</main>

<style>
  .typing_card {
    width: 27ch;
    animation: typing 4s steps(27) infinite,
      blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    box-sizing: border-box;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
</style>

