---
import ProjectCard from "../components/ProjectCard.astro";
---

<h1>Projects</h1>

<ProjectCard projectName="gameOfLife" />
<ProjectCard projectName="pongGame" />
<ProjectCard projectName="googleClone" />
<ProjectCard projectName="rlStats" />
