---
import ProjectCard from "../components/ProjectCard.astro";
import Section from "../components/Section.astro";
---

<Section title="Projects" id="projects">
  <div
    id="card_section"
    class="overflow-auto items-center whitespace-nowrap w-full m-2"
  >
    <ProjectCard projectName="silviasDesign" />
    <ProjectCard projectName="ticTacToe" />
    <ProjectCard projectName="gameOfLife" />
    <ProjectCard projectName="pongGame" />
    <ProjectCard projectName="googleClone" />
  </div>
</Section>

<style>
  #card_section h1 {
    letter-spacing: 5px;
  }

  #card_section a:visited {
    color: var(--black);
  }
</style>
