---
import TitleWithLineAround from "./TitleWithLineAround.astro";
const { id, title } = Astro.props;
---

<div id={id} class="grid page items-center mb-4 pb-4 bg-white">
  <TitleWithLineAround title={title} />

  <slot />
</div>
