---
const { id, name, src } = Astro.props;
---

<div id="card" class="grid grid-flow-row items-center justify-center">
  <div>
    <img src={src} alt="" class="mt-4 w-24 h-24 mx-auto max-w-xl" id={id} />
    <p class="skill my-0 mx-auto pb-6 text-lg pt-4">{name}</p>
  </div>
</div>

<style>
  img {
  }

  p {
    font-family: var(--font);
  }
</style>
