---
const { id, name, src } = Astro.props;
---

<div id="card">
  <div>
    <img src={src} alt="" class="image" />
    <p id={id} class="skill">{name}</p>
  </div>
</div>

<style>
  #card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    height: auto;
    width: 60px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }

  p {
    font-family: var(--patrick);
    font-size: 18px;
    margin: 0 0 20px 0;
  }
</style>
