---
import Section from "./Section.astro";
import SkillCard from "./SkillCard.astro";
---

<Section title="Skills" id="skills">
  <div id="skill_names" class="grid grid-cols-3 justify-evenly w-11/12 mx-auto">
    <SkillCard id="html" name="HTML" src="assets/html.svg" />
    <SkillCard id="css" name="CSS" src="assets/css.svg" />
    <SkillCard id="js" name="JavaScript" src="assets/js.svg" />
    <SkillCard id="astro" name="Astro" src="assets/astro.svg" />
    <SkillCard id="react" name="React" src="assets/react.svg" />
    <SkillCard id="figma" name="Figma" src="assets/figma.svg" />
  </div>
</Section>

<style>
  #skills > h1 {
    padding: 0;
    margin: 0;
    font-family: var(--font);
  }

  #skills {
    background-size: cover;
  }
</style>
