---
const { id, name, src } = Astro.props;
---

<div id="card">
  <div>
    <img src={src} alt="" class="shadow drop-shadow" />
    <p id={id} class="skill">{name}</p>
  </div>
</div>

<style>
  #card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    height: 60px;
    width: 60px;
  }

  p {
    font-family: var(--patrick);
    font-size: 18px;
    margin: 0 0 20px 0;
  }
</style>
