---
import Section from "./Section.astro";
---

<div class="paper_with_lines">
  <Section title="Skills" id="skills">
    <p>HTML</p>
    <p>CSS</p>
    <p>JavaScript</p>
  </Section>
</div>

<style>
  #skills > h1 {
    padding: 0;
    margin: 0;
  }

  .paper_with_lines {
    width: 100vw;
    background: url("assets/white-piece-of-paper.svg");
    background-size: cover;
    margin-bottom: calc(10 * var(--regular-padding));
  }

  .paper_with_lines p {
    padding: -2rem;
    font-size: 24px;
  }

  p {
    font-size: 40px;
  }
</style>
