---
const { title, subtitle } = Astro.props;
---

<div id="header_card">
  <div id="title" class="my-2 mx-0">
    <h1 class="title capitalize text-8xl font-bold overflow-y-hidden">
      {title}
    </h1>
    <h2 class="text-lg">{subtitle}</h2>
  </div>
</div>

<style>
  #title {
    font-family: var(--title-font);
  }
</style>
