---
import "../styles/global.css";
---

<html lang="en" class="ofWhiteBg">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Natalia Chies</title>
    <link rel="icon" href="assets/favicon.svg" />
  </head>

  <body>
    <div class="wrapper">
      <slot />
    </div>
  </body>
</html>
