---
import "../styles/global.css";
---

<html
  lang="en"
  class="justify-center scroll-smooth box-border bg-repeat bg-center bg-fixed"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Natalia Chies</title>
    <link rel="icon" href="assets/favicon.svg" />
  </head>

  <body
    class="flex flex-col justify-center text-center overflow-x-hidden pt-4 text-base"
  >
    <div class="wrapper">
      <slot />
    </div>
  </body>
</html>

<style>
  html {
    background-image: url("/assets/bg.svg");
    background-size: 0.5em;
  }

  body {
    font-family: var(--font);
  }
</style>
