---
---

<button id="back_div" class="hidden"> </button>
<script>
  import "./script.js";
</script>

<style>
  #back_div {
    position: fixed;
    z-index: 2;
    right: 40px;
    top: 20px;
    margin: 0;
    padding: 0;
    background: url("assets/arrow.svg");
    background-size: cover;
    overscroll-behavior: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    font-family: "Courier New", Courier, monospace;
  }
</style>
