---
---

<button id="back_div" class="border hidden">top</button>
<script>
  import "./script.js";
</script>

<style>
  #back_div {
    box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0, 5px 5px 0;
    letter-spacing: 5px;
    position: fixed;
    z-index: 2;
    right: 60px;
    top: 20px;
    margin: 0;
    padding: 5px;
    background-color: var(--accent_five);
    overscroll-behavior: none;
    width: 70px;
    height: auto;
    font-family: var(--font);
    font-weight: bold;
    font-family: var(--font);
    font-size: 16px;
  }
</style>
